<div class="row mt-2 ms-4 me-4" style="min-height: 300px">
<!--  <div class="col-sm-4">-->
<!--    <h3> Horario </h3>-->
<!--    <br>-->
<!--    <h4> Sábado - Jueves </h4>-->
<!--    <h5> 8:00 - 16:00 </h5>-->
<!--    <br>-->
<!--    <h4> Viernes </h4>-->
<!--    <h5> 8:00 - 16:00, 19:30 - 22:30</h5>-->
<!--  </div>-->
  <div class="col-sm-6">
    <h3> On som? </h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1286.0041097285089!2d1.2760496155751064!3d41.15063243154304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a3fdcd9e424e2d%3A0x4db08c01a0c5a9a4!2sCentro%20Civico%20Pins%20Manous%203%20(El%20Catllar)!5e1!3m2!1ses!2ses!4v1700998396899!5m2!1ses!2ses"
            width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<!--    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d579.1706207954187!2d1.27669193836539!3d41.148382480980175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7b2b275ac4cc1a3a!2sBar%20Cal%20Siscu!5e0!3m2!1ses!2ses!4v1640607756358!5m2!1ses!2ses"-->
<!--            width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>-->
  </div>
  <div class="col-sm-6">
    <h3> Contacta amb nosaltres </h3>
    <button class="btn-lg bg-white border-0"><i class="fa-solid fa-envelope"></i> juntapinsmanous3&#64;gmail.com</button>
    <br>
    <p-button label="Enviar correu" icon="fa-regular fa-envelope" severity="secondary" styleClass="ml-3"  (click)="onNavigate('MA')"></p-button>
<!--    <br>-->
<!--    <button class="btn-lg bg-white border-0" (click)="onNavigate('FB')"><i class="fab fa-facebook"></i> Facebook</button>-->
<!--    <br>-->
<!--    <button class="btn-lg bg-white border-0" (click)="onNavigate('IG')"><i class="fab fa-instagram"></i> Instagram</button>-->
<!--    <br>-->
<!--    <button class="btn-lg bg-white border-0" (click)="onNavigate('TEL')"><i class="fas fa-phone"></i> 625 80 75 48</button>-->
  </div>
</div>
<br>
<div class="row bg-light text-center">
  <span class="mt-2 ms-4 me-4"> Webpage created and designed by
    <span class="text-decoration-underline" style="cursor:pointer;" (click)="onNavigate('GH')">Gerard Marti</span>
     - © Copyright 2023-{{getCurrentDate()}} All Rights Reserved
  </span>

</div>
